.main {
  min-height: 100vh;
  background-color: var(--mat-sys-surface);
  #content {
    padding: 20px;
  }

  @media (min-width: 768px) {
    #content {
      padding: 50px 50px 50px 250px;
    }
  }
}
