.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  text-align: center;

  .active-link {
    background-color: var(--mat-sys-primary);
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  border-bottom: 3px solid var(--mat-sys-primary);
  top: 0;
  z-index: 1;
}
