<mat-stepper orientation="vertical" #stepper>
  <ng-container *ngFor="let step of formSteps">
    <mat-step
      [stepControl]="getFormGroup(step.type)"
      errorMessage="You didn't respond.">
      <form [formGroup]="getFormGroup(step.type)" class="formGroup">
        <ng-template matStepLabel>{{ step.typeLabel }}</ng-template>
        <ng-container *ngFor="let question of step.questions">
          <div
            class="questionContainer"
            *ngIf="question.inputType === 'radioGroup'">
            <mat-label ngClass="questionLabel">{{
              question.content
            }}</mat-label>
            <mat-radio-group
              [formControlName]="question.formControl"
              ngClass="radioGroup">
              <mat-radio-button value="1">Strongly disagree</mat-radio-button>
              <mat-radio-button value="2">Disagree</mat-radio-button>
              <mat-radio-button value="3">Neutral</mat-radio-button>
              <mat-radio-button value="4">Agree</mat-radio-button>
              <mat-radio-button value="5">Strongly agree</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="questionContainer" *ngIf="question.inputType === 'text'">
            <mat-label ngClass="questionLabel">{{
              question.content
            }}</mat-label>
            <mat-form-field appearance="fill">
              <mat-label>{{ question?.label }}</mat-label>
              <input matInput [formControlName]="question.formControl" />
            </mat-form-field>
          </div>
        </ng-container>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </ng-container>
  <mat-step>
    <ng-template matStepLabel>Send a feedback</ng-template>
    <p class="summaryText">
      If you feel that you are ready, please send this feedback.
    </p>
    <div>
      <button
        mat-button
        [disabled]="!isAllFormsValid()"
        (click)="sendFeedback()">
        Send your feedback!
      </button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
